<h1>My Account</h1>

<% if session[:user] == nil %>
<p>No one is logged in</p>
<% elsif session[:user] != nil %>
  <p>Welcome back, <%= session[:user].name %></p>
<% end %>






<!-- posts =
i want to put the posts into arrays or hashes and sort them by dates?
i want to put post by date and time
i want to sort posts by date and time, do i look at a key?

  some sort of array of ...posts...

this is where i start making variables and more complex structures
range(1..20).reverse

or

use user id's and reverse their order

or -->
