<h1>My Account</h1>

<% if session[:user] == nil %>
<p>No one is logged in</p>
<% elsif session[:user] != nil %>
  <p>Welcome back, <%= session[:user].name %></p>
  <p>Your name is, <%= session[:first_name] %></p>
<% end %>


<h2>Create Post</h2>
<form action=="/account" method="post">
<input type="text" >
<!-- <input type="content"> -->
<input type="submit" value="Logins">
<form>
