<h3>Look man/woman you don't have to do this ...
</h3>
<form method="POST" action="/delete">
  <label>Email address</label><br/>
  <input name="email" type="email" placeholder="Enter email"><br/>

  <label>Password</label><br/>
  <input name="password" type="password" placeholder="Password"><br/>

  <input type="checkbox"><br/>
  <label>Are you sure you want to delete your account?</label><br/>

  <button type="submit">Submit</button>
</form>
