<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="/css/master.css">
  <body>
    <div class="landing">
      <h1 class="title">Welcome to Hell! :) </h1>
    </div>
  </body>
</html>

