<head>
<link><base href="/"></link>
<link rel="stylesheet" type="" href="css/main.css">
</head>
<h1 class="title">Welcome to Hell! :) </h1>


<a href="/login"> click here to login </a>
<a href="/signup"> Click here to signup </a> -
<a href="/edit"></a>
<a href="/edit-profile"></a>
<a href="/logout"></a>
<a href="/delete"></a>
