<head>
<link><base href="/"></link>
<link rel="stylesheet" type="" href="css/main.css">
</head>
<!-- <body style="background-image:url(mIowoxZ.jpg)"> -->
<h1 class="title">Welcome to Hell! :) </h1>




<a href="/signup"> Click here to signup </a> - <a href="/login"> click here to login </a>

1st row verticaly centered text in the square columns
<br>
<!-- 1st row verticaly centered text in the square columns -->
<div class="square img_1-1">
</div>
<div class="square img_1-2">
</div>
<div class="square img_1-3">
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square img_2-1">
</div>
<div class="square img_2-2">
</div>
<div class="square img_2-3">
</div>

<!-- 3rd row responsive images in background with centered content -->

<div class="square img_3-1">
</div>
<div class="square img_3-2">
</div>
<div class="square img_3-3">
</div>
 END OF LAYOUT, following juts for the demo
<div id="bottom">
    <p>If you want to see this grid only with responsive images, you can check this out:<br/>
        <a href="http://jsfiddle.net/webtiki/3h7Nb/"> Responsive 3x3 square image grid </a></p>
    <a href="http://stackoverflow.com/users/1811992/web-tiki">web-tiki</a>
</div>
