<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</li>
        <% if session[:user] == nil %>
      <li><a href="/signup"> Signup </a></li>
      <li><a href="/login"> Login </a></li>
        <% else %>
      <li> <a href="/account"><%= session[:user] %>profile</a></li>
      <li><a href="/posts"> Motherfucking Posts!</a></li>
      <li> <a href="/logout"><%= session[:name] %>logout</a></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
