<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>




    <ul>
      <ul><a href="/">Home</ul>
        <% if session[:user] == nil %>
      <ul><a href="/signup"> Signup </a></ul>
      <ul><a href="/login"> Login </a></ul>
      <ul><a href="/posts">Posts</a></ul>

        <% else %>
      <ul><a href="/edit">Edit your post</a></ul>
      <ul><a href="/profile">Edit your profile</a></ul
      <ul><a href="/account"> <%= session[:user] %>profile</a></ul>
      <ul><a href="/posts"> Posts</a></ul>
      <ul><a href="/logout"><%= session[:name] %>logout</a></ul>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
