<h1>Login</h1>
<h2> Already have an account <a href="/signup"> click here to </a> Signup</h2> 
<form action="/login" method="post">
<input type="email" placeholder="Email" name="email"><br>
<input type="password" placeholder="Create a password" name="password">
<input type="submit" value="Login">
<form>
