
<link rel="stylesheet" type="" href="css/main.css">

<!-- <body style="background-image:url('obi.jpg');"> -->
<div>
<h1>Login</h1>

<h2> Already have an account <a href="/signup"> click here to </a> Signup</h2>

<form action="/login" method="post">
<input type="text" placeholder="Email" name="email"><br>
<input type="password" placeholder="Create a password" name="password">
<input type="submit" value="Logins">
<form>

<!-- </body> -->
</div>
