<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
</head>
	<body>
		<% @variables do |variable| %>
			<%= variable %><br>



			    <form action="/variables" method="post">

			      <label> Email </label>
			      <input type="text" name="email" ><br>

			      <label> Password </label>
			      <input type="text" name="password"><br>

			      <input type="submit" value="Create Account">


			    </form>
			  </body>
			</html>

<button>


	<input>

	</input>

		<% end %>
	</body>
