<% @posts1.each do |o| %>
<p> <% o.content %> </p>
<% end %>




<h2>Create Post</h2>
<form action="/account" method="post">
<input type="text" name="title" placeholder="title"><br>
<input type="content" name="content" placeholder="content"><br>
<input type="submit" value="Create Post">
<form>

<h2> Show Posts </h2>
<p><%= %></p>
<p><%== %></p>
