<% @posts1.each do |o| %>
<p> <% o.content %> </p>
<% end %>




<h2>Create Post</h2>
<form action="/account" method="post">
<input type="text" name="title" placeholder="title"><br>
<input type="content" name="content" placeholder="content"><br>
<input type="submit" value="Create Post">
<form>

<h2> Show Posts </h2>
<div>
<!-- <h1><%#= session[:user].name%>'s Posts</h1> -->
<% @posts1.first(20).reverse.each do |var| %>
  <h2><%= var.title %></h2>
  <h2>By: <%= var.content %></h2>
  <h2>At: <%= var.created_at %></h2>
  <h2> var.Content:</h2>

  <a href="/delete/<%= var.id %>"> <button> Delete this post.</button></a>
 <%end%>
</div>
