<p> <%= session[:user].name%>'s Blog</p>

<h2 style="text-align:center;"> Display Posts </h2>
<p>post by <%= session[:user].name %></p>
<p><%= session[:user].title %></p>
<!-- <p><%= session[:content] %></p> -->
