<body style="background-image:url('mIowoxZ.jpg');">
<h1>Sign up</h1>
<h2> Already have an account <a href="/login"> click here to </a> Login</h2>
<form action="/signup" method="post">
<input type="email" placeholder="email" name="email"><br>
<input type="text" name="last_name" placeholder="First Name"><br>
<input type="text" name="first_name" placeholder="Last Name"><br>
<input type="text" name="birthday" placeholder="yyyy"><br>
<input type="password" placeholder="Create a password" name="password">
<input type="submit" value="Sign up">
<form>
