<h1>Sign up</h1>
<h2> Already have an account <a href="/login"> click here to </a> Login</h2>
<form action="/signup" method="post">
<input type="email" placeholder="Email" name="email"><br>
<input type="text" name="Full Name" placeholder="fullname"><br>
<input type="password" placeholder="Create a password" name="password">
<input type="submit" value="Sign up">
<form>
