<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Amazon dot com </h1>
    <h2><%= @variable %></h2>
    <h3> Your Inmate ID# <%= @variable %> </h3>
  </body>
</html>
