body {
  background-image: url("https://media.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif");
  font-size:20px;
  font-family: 'Lato',verdana, sans-serif;
  color: #fff;
  /* background:lightblue; */
  text-align: center;
  text-decoration-color: red;
}
ul{
  color: red;
  text-align: center;
}
li{
  text-align: center;
  text-color: red;
  text-decoration-color: red;

}

p{
  color: red;
  text-align: center;
}

h1{
  color:red;
  text-align: center;

}
h2{
  color: red;
  text-align: center;

}
h3{
  color: red;
  text-align: center;
}
div{
  text-align: center;
float: right;
}
.tumblr-post{
  display: block;
  margin-left: auto;
  margin: right;
  text-align: center;
  
}
