body {
  background-image: url("https://media.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif");
  font-size:20px;
  font-family: 'Lato',verdana, sans-serif;
  color: #fff;
  /* background:lightblue; */
  text-align: center;
  text-decoration-color: red;
}
ul{
  color: red;
}
li{
  text-align: center;
  text-color: red;
  text-decoration-color: red;

}

p{
  color: red;
}

h1{
  color:red;
}
h2{
  color: red;
}
h3{
  color: red;
}
